@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'simplebar-react/dist/simplebar.min.css';


::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    margin-block: 5px;
    margin-inline: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 100vw;
}